/* Colors for my Website */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 320px;
  margin: auto;
  padding: 10px;
}
h1 {
  margin: 0;
  text-align: center;
  width: 100%;
  background: #5680af;
  color: white;
  height: 100px;
  line-height: 100px;
  font-family: 'Voltaire', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 42px;
}
ul {
  margin: 30px 0;
  padding: 0;
}
ul li {
  list-style: none;
  display: inline-block;
  width: 145px;
  text-align: center;
}
ul a {
  text-decoration: none;
  color: #5680af;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}
ul a.active {
  color: #5680af;
  font-weight: 400;
}
.pass-wrap {
  position: relative;
}
h2 {
  margin: 10px 0 0;
  color: #5680af;
  font-weight: 400;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}
input {
  border: 1px solid #5680af;
  outline: none;
  height: 30px;
  width: 100%;
  padding: 10px;
  color: #5680af;
  margin: 30px 0 0 0;
}
button {
  background: #5680af;
  color: white;
  width: 100%;
  text-align: center;
  border: none;
  height: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  margin: 20px 0;
  outline: none;
}
.new_pass {
  border: 1px solid #5680af;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: #5680af;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}
.error {
  display: none;
  color: #ff4b65;
  position: absolute;
  top: 20px;
}
.visible {
  display: block;
}
#url.empty {
  border: 1px solid #ff4b65;
}
