/* Colors for my Website */
body {
  margin: 50px;
  padding: 0;
  background: #e2e2e2;
  color: #454545;
}
.error {
  display: none;
  color: red;
}
.visible {
  display: block;
}
#url.empty {
  border: 1px solid red;
}
